{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{#  remove markup hardcoded in D8.0 #}
{% set member_for_date = content.member_for['#markup']|split('</h4>') %}


<article{{ attributes.addClass('profile max-w-7xl mx-auto px-4 sm:px-6 lg:px-8') }}>
  {% if content %}
    <div class="py-8 md:flex md:items-center md:justify-between md:space-x-5">
        <div class="flex items-start space-x-5">
            <div class="flex-shrink-0">
            <div class="relative [&>*]:h-16 [&>*]:w-16 [&>*]:rounded-full [&>*]:overflow-hidden">
                {{ content.user_picture }}
                <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
            </div>
            </div>
            <!--
            Use vertical padding to simulate center alignment when both lines of text are one line,
            but preserve the same layout if the text wraps without making the image jump around.
            -->
            <div class="pt-1.5">
            <h1 class="text-2xl font-bold text-gray-900">{{ user.displayname }}</h1>
            <p class="text-sm font-medium text-gray-500">Member for <span class="text-gray-900"> {{ member_for_date.1 }}</span>.</p>
            </div>
        </div>
        <div class="justify-stretch mt-6 flex flex-col-reverse space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-y-0 sm:space-x-3 sm:space-x-reverse md:mt-0 md:flex-row md:space-x-3">
            {% if is_admin %}
                <a href="/return-list" class="inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">{{ 'Renting List'|trans }}</a>
                <a href="/product-reference" class="inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">{{ 'Product Reference'|trans }}</a>
            {% endif %}
            <a href="/wishlist" class="inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">{{ 'My Wishlist'|trans }}</a>
            <a href="/my-renting" class="inline-flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100">{{ 'Rented Products'|trans }}</a>
            <a href="/user/{{ user.uid.value }}/edit" class="inline-flex items-center justify-center rounded-md border border-transparent bg-primary-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-gray-100">{{ 'Edit'|trans }}</a>
        </div>
    </div>

    <div class="pt-8 pb-16">
        {{ content|without('user_picture', 'member_for') }}
    </div>
  {% endif %}
</article>
