<article{{attributes}}>
	<header>
		<h2{{title_attributes}}>{{ label }}</h2>
	</header>

	<div{{content_attributes}}>
		{{ content }}
	</div>

	<footer>
		<p>Submitted by
			{{ author_name }}
			on
			{{ date }}</p>
	</footer>
</article>
