{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<footer{{ attributes.addClass('bg-gray-900 text-gray-300 py-8 mt-12') }}>
  <div class="container mx-auto px-6 text-center space-y-4">
    {# Render any blocks placed in the footer region #}
    {% if content %}
      <div class="space-y-2">
        {{ content }}
      </div>
    {% endif %}

    <div class="text-lg font-semibold">{{ site_name }}</div>
    <div class="text-sm text-gray-500">
      &copy; {{ "now"|date("Y") }} {{ site_name }}. All rights reserved.
    </div>
  </div>
</footer>
