{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

<div class="group relative aspect-w-2 aspect-h-1 rounded-md bg-gray-100 overflow-hidden col-span-2">
    <img src="{{ fields.field_image.content|render|striptags('<img>')|trim|raw }}" loading="lazy" alt="{{ fields.name.content.0 }}" class="object-center object-cover group-hover:opacity-75">
    <div class="flex flex-col justify-end">
        <div class="p-4 bg-white bg-opacity-60 text-sm">
            <a href="{{ fields.view_taxonomy_term.content|striptags|trim }}" class="font-medium text-gray-900">
                <span class="absolute inset-0" aria-hidden="true"></span>
                {{ fields.name.content }}
            </a>
            <p aria-hidden="true" class="mt-0.5 text-gray-700 sm:mt-1">
                {{ 'Shop now'|trans }}
            </p>
        </div>
    </div>
</div>
