{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'bg-white px-6 lg:px-8',
  ]
%}

<div{{attributes.addClass(classes)}}>
	<div class="relative mx-auto max-w-lg pt-16 pb-20 border-t border-gray-200 lg:max-w-7xl lg:pt-24 lg:pb-28">
		<div class="divide-y-2 divide-gray-200">
            <div>
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                    {{ header }}
                </h2>
                <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:items-center lg:gap-5">
                    <p class="text-xl text-gray-500">
                        {{ 'Get weekly articles in your inbox on the latest medical supply news, exclusive deals, and helpful health tips.'|trans }}
                    </p>
                    <div class="mt-6 flex flex-col sm:flex-row lg:mt-0 lg:justify-end">
                        {{ bamboo_render_block('mailchimp_signup_subscribe_block:maichimp_blog_notify') }}
                    </div>
                </div>
            </div>

            {% if rows -%}
                <div class="mt-6 grid gap-16 pt-10 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
                    {{ rows }}
                </div>
            {% elseif empty -%}
                {{ empty }}
            {% endif %}

        </div>
	</div>
</div>
