{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - message: The completion message.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  <div class="mx-auto max-w-3xl bg-white rounded-md shadow-custom-1 py-5 px-6 lg:pt-8 lg:pb-7 lg:px-10 text-center">
    <h2 class="mt-2 text-4xl text-black font-bold tracking-tight sm:text-5xl mb-3">
      {{ 'Thank you!'|trans }}
    </h2>
    <p class="mt-3 text-2xl text-black font-bold tracking-tight sm:text-4xl">
      {{ 'Your order is completed!'|trans }}
    </p>
    <div class="mt-2 text-base text-black">
      {{- message -}}
    </div>
    {% if payment_instructions %}
      <div class="checkout-complete__payment-instructions mt-10 pt-10 border-t border-gray-200">
        <h3 class="text-base font-medium text-black">
          {{ 'Payment instructions'|t }}
        </h3>
        {{ payment_instructions }}
      </div>
    {% endif %}
  </div>
</div>
